<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Advertisement Mcmakler</title>
    <script src="../node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body ng-app="app">
      <div class="container" ng-controller="MainController">
        <div class="loader" ng-show="!adFlag">
        </div>
        <div class="advertisements" ng-if="adFlag">
          <div class="displayAd" ng-repeat="ad in ads | limitTo:10">

                <div class="adImageContent">
                  <img class="adImg" ng-src="{{ad.img}}"/>
                  <label class="roomType" ng-bind = "ad.type"></label>
                </div>

                <div class="contentContainer">
                  <div class="adContent">
                    <div class="adTitle" ng-bind = "ad.title"></div>
                    <div class="adAddress" ng-bind = "ad.address"></div>
                    <div class="adAreaPrice">
                      <div class="price">{{ad.price}} &euro;</div>
                      <div class="area-rooms">
                        <span class="space" ng-bind = "ad.rooms"></span>
                        <span class="verticalLine"></span>
                        <span class="area">{{ad.space}} m<sup class="power">2</sup></span>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
        </div>
      </div>
      <script src="../js/appModule.js"></script>
      <script src="../js/controller/main.js"></script>
      <script src="../js/helper/servicesFactory.js"></script>
  </body>
</html>
